/*  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.login{
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%) ;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.login > input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}
.login > .button{
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size:1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}


a.navbar-brand img {
    height: 120px;
    width: 153px;
    margin-top: -6px;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    height: 81px;
}
.w-100 {
    width: 100%!important;
    height: 500px;
}
/* .upload{
    width: 50%;
} */
.video{
    text-align: center;
    align-items: center;
    
}

.youtube{
    background-color: #45637d;
}
.logout{
    align-items: center;
   text-align: center;
    cursor: pointer;
    font-size: 15px;
}

/* footer */

.hr{
    width: 60px;
}
.back{
    background-color: #6351ce
}
.upload{
    margin-left: 338px;
   
}
.masala{
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
}

.masala-2{
    font-size: 3rem;
    font-family: cursive;
    font-weight: 600;
}
.masala-3{
    font-size: 2rem;
    font-family: cursive;
    font-weight: 600;
}

.video11{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%) ;
}
span.title {
    font-weight: 900;
}
span.Description {
    font-weight: 900;
}

/* upload logo */

.icon {
    font-size: 100px;
    color: rgb(27, 157, 233);
    }
    .hi {
        margin-top: 3rem!important;
        width: 507px;
    }
  .video_loop{
    background-color: slategrey;
  

  }
  .video_loop video {
      margin-left:30px;
     
    
  }

  .contact{
    /* width: 800px; */
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%) ;
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    /* margin: auto;
    margin-top: 50px; */
  }
  .size_font  i {
    font-size: 30px;
    margin: 10px;
    color:wheat;
  }

  .scroll-spacer {
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    height: 75vh;
    margin: 1em auto;
    width: 90%;
  }
  video {
    display: block;
    height: auto;
    margin: auto;
    position: relative;
    width: 100%;
  }
  .video-wrap {
    margin: 0 auto;
    position: relative;
    width: 90%;
  }
  .video-wrap:after {
    border-bottom: 1px solid red;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .masala {
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 600;
    color: black;
}
